# Temporary Files
*~
.*.swp
.DS_STORE
robovm-build/
project.xcworkspace/
xcuserdata/
xcode/native/
.gradle/
build/
bin/
target/
obj/
out/
classes/
war/
gen/
gen-external-apklibs/
Debug/
Release/
robovm-build/
ipch/
/dist

#for now
extensions/physic/

#maven sucks
pom.xml

*.dll.mdb
*.userprefs
*.sdf
*.class
hs_err_pid*
Thumbs.db

arc-*.zip
arc-*.zip.MD5

*.iml
/.idea/

#core & extension libs/ folders that have no 3rd party dependencies in them
/backends/arc-backend-robovm/libs/
/extensions/freetype/libs/
/extensions/freetype/jni/
/extensions/freetype/Users/
/extensions/filedialogs/jni/
/extensions/filedialogs/libs/
/backends/backend-sdl/jni
/backends/backend-robovm/res/META-INF/robovm/ios/libs/
/arc-core/libs/
/arc-core/jni/
/arc-core/obj/
/arc-core/Users/
/arc-core/csrc/stb_image.h
/arc-core/csrc/soloud
/arc-core/csrc/freetype
/arc-core/csrc/freetype.tar.gz
#directories created by fetch.xml
/tmp/

#gradle wrapper
/local.properties
