canvas {
    cursor: default;
    outline: none;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #191919;
    margin: 0px;
    padding: 0px;
}

.gdx-meter.red > span {
	background-color: #e44d3c !important;
	background-image: -moz-linear-gradient(top, #f4ba6e, #d29d58) !important;
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f4ba6e),color-stop(1, #d29d58)) !important;
	background-image: -webkit-linear-gradient(#f4ba6e, #d29d58) !important;
}

.gdx-meter { 
	max-width: 100% !important;
}
